@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
  }
 
 /*part-1*/
.main-header{
  max-width: 1440px;
  height: auto;
  border: none;
  background-color: wheat;
}

.nav-flex{
  display: flex;
  justify-content: space-evenly;
}
.head-title{
  font-size: 3rem;
  color: black;
}
.btn-div{
  margin-top: 80px;
}
.btn{
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(177, 202, 34);
  color:black;
  border-radius: 10px;

}

.hambar{
  display: none;
  margin-top: 2px;
  
  color: black;
  font-size: 2.50rem;
}


  




.title-2{
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-left: 305px
}

.header-para{
  margin-left: 305px;
  font-size: 14px;
  color: rgb(223, 189, 145);
  margin-top:-1pc;
  
}


.head-btn{
  margin-left: 305px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  color: antiquewhite;
  background-color: rgb(0, 0, 0);
}


.arrow{
  font-weight: 900;
  

}



.banner-flex{
  display: flex;
  
}
.banner{
 max-width: 500px;
 margin-left: 100px;
}

.rate{
  display: flex;
  justify-content: space-evenly;
 padding: 0px 30px;
 margin-top: -8pc;
 margin-left: 210px;
 background-color: wheat;
 border: none;
}

#star{
  margin-top: 42px;
  font-size: 2rem;
  color: gold;
}
.rate-para{
  margin-top: -1.5pc;
  color: black;

}

.rate-div{
  text-align: left;
  margin-left: 10px;
}

.main-rate{
  font-size: 1.5rem;
  font-weight: 800;
}







 /*part-2*/

 .section-1{
  max-width: 1440px;
  height: 600px;
  border: 2px solid wheat;
  background-color:wheat;
  margin-top: -2.5pc;
 }

 

 .section-1-title{
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: black;
  margin-top: 100px;
  } 
  .section-1-para{
  text-align: center;
  color: rgb(223, 189, 145);
}
.card{
  display: flex;
  justify-content: space-around;
 margin-top: 80px;
}



.main-card{
 width: 320px;
  border: -1px solid silver;
  height: auto;
background-color:whitesmoke ;
  
}

.card-img{
margin-left: 90px;
margin-top: 20px;
}

.card-title{
  text-align: center;
}
.card-para{
  text-align: center;
  color:rgb(155, 133, 105) ;
}


/*part-3*/
.section-2{
  max-width: 1440px;
  height: 680px;
  border: 2px solid wheat;
  background-color: wheat;
  
}

.frist-box{
  width: 220px;
  height: 140px;
  border:none;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 100px;
  background-color: rgb(229, 211, 217);
}

.img-box{
  max-width: 250px;
  height: 330px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: rgb(166, 244, 185);

}



.img-ff{
  margin-top: 30px;
  margin-left: 38px;
}


.img-fff{
  margin-top: 30px;
  margin-left: 32px;


}

.img-box-00{
  max-width: 250px;
  height: 330px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-top: 80px;
  background-color:rgb(229, 211, 217) ;
}

.box-99{
  width: 245px;
  height: 140px;
  border: none;
  border-radius: 20px;
  margin-top: 50px;
  background-color: rgb(166, 244, 185);
  

}


.flex-box{
  display: flex;
  
}




.container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.title-00{
  font-size: 3rem;
}
.title-01{
  font-size: 1.5rem;
}
.title-02{
  font-size: 1.5rem;

}

.title-009{
  margin-left: 50px;
  margin-top: 30px;
}

.title-paraa{
  margin-top: -7px;
  color: rgb(186, 158, 107);
}





/*part 4*/
.section-3{
  max-width: 1440px;
  height: 770px;
  border: 2px solid wheat;
  background-color: wheat;
}


.section-3-div-1{
  width: 950px;
  height: 600px;
  border: 2px solid background-image: linear-gradient(to right top, #fefedf, #efe1ae, #e6c180, #e09f59, #db793b, #db793b, #db793b, #db793b, #e09f59, #e6c180, #efe1ae, #fefedf);
  margin-left: 240px;
  margin-top: 80px;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #fefedf, #efe1ae, #e6c180, #e09f59, #db793b, #db793b, #db793b, #db793b, #e09f59, #e6c180, #efe1ae, #fefedf);
 
  

}

.section-3-head{
  font-size: 2.5rem;
  color: antiquewhite;
}



.section-3-div-2{
  margin-top: 180px;
  margin-left: 100px;
}

.section-3-btn{
  padding: 10px 20px;
  color: black;
  background-color: antiquewhite;
  border-radius: 10px;
  border:  none;
}

.section-3-para{
  color: rgb(223, 189, 145);
  
}


.section-3-div-3{
  width: 250px;
  height: 200px;
  border: 2px solid  rgb(223, 197, 163);
  margin-top: 85px;
  margin-left: 170px;
  background-color: rgb(223, 197, 163);
  border-radius: 7px;


}



.section-3-div-4{
  width: 250px;
  height: 200px;
  border: 2px solid rgb(223, 197, 163);
  margin-top:  -9.5pc;
  margin-left: 655px;
  background-color: rgb(223, 197, 163);
  border-radius: 7px;


}


.section-0007{
  display: flex;

}


.img-c{
  margin-top: -2pc;
  margin-left: -2pc;
  border: 3px solid antiquewhite;
  background-color: rgb(228, 214, 197);
  border-radius: 30px;
}


.paraaa{
  color: rgb(126, 100, 68);
  margin-top: -8px;
}

  
  .parra{
    margin-top: -1.5pc;
    color: rgb(173, 193, 211);
  }



  .section-3-div-99{
    width: 250px;
  height: 200px;
  border: 2px solid antiquewhite;
  margin-top:  20px;
  margin-left: -8pc;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;

  }

  .paraaa-1{
    margin-top: 20px;
    color: rgb(126, 100, 68);
  }


.paraaa-00{
  color: rgb(19, 18, 18);
}











/*footer*/
.main-footer{
  max-width: 1440px;
  height: 500px;
  border: 2px solid wheat;
  background-color: wheat;
}






.footer-div-1{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 250px;
  
}

.footer-img{
  margin-left: 10px;
}


.footer-btn{
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background-color: orangered ;
  color: antiquewhite;
}

.footer-flex-2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer-div-09{
  margin-left: 80px;
}
.footer-div-08{
 margin-right: 50px;
}


#arrow{
  border: 2px solid orangered;
  padding: 3px 6px;
  border-radius: 30px;
  background-color: orangered;
  
  color: antiquewhite;
}
.icon{
  margin-top: 20px;
  
  margin-left: 0px;
  
}
#ins{
  margin-left: 5px;
}
  #twi{
   margin-left: 5px;
  }


  .last{
    text-align: center;
    margin-top: 70px;
  }